.well-block {
    padding: 40px;
}

.well-title {
    margin-bottom: 40px;
}

body{
	background-image:url("https://c0.wallpaperflare.com/preview/648/982/424/adult-career-clipboard-doctor.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	 background-position: center;

}